<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oscuro bot</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta property="og:title" content="Oscuro Bot."/>
    <meta property="og:description" content="Oscurot Bot est un bot discord qui a pour vocation d'améliorer votre expérience." />
    <meta property="og:author" content="Bobbie-Douli-Reflect-Ogagal." />
    <meta property="og:image" content="https://media.discordapp.net/attachments/688487878816563241/695627793228234752/unknown.png?width=1040&height=519"/>
  </head>
  <body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Explication du bot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table style="width:100%">
  <tr>
    <th>Développeurs :</th>
    <td>Bobbie</td>
    <td>Douli</td>
    <td>Ogagal</td>
    <td>Reflect</td>
  </tr>
  <tr>
    <th>Liens :</th>
    <td><a href="http://www.oscuro.gq/">Dashboard</a></td>
    <td><a href="ttps://discord.gg/uPayF5X">Discord</a></td>
    <td><a href="https://discordapp.com/oauth2/authorize?client_id=688531490283192431&scope=bot&permissions=8">Invite</a></td>
  </tr>
  <tr>
    <th>Donateurs :</th>
    <td>Aucun</td>
  </tr>
  <tr>
    <th>Partenaires :</th>
    <td>Aucun</td>
  </tr>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
    <div class="doggy">
      <center><h1>
        Oscuro Bot
      </h1>
        </center><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
  Explication du bot
</button>
      <button type="button" onclick="location.href='./login_redirect'" class="btn btn-primary btn-lg" style="width: 200px;">Dashboard</button>
</center>
    </div>

    
  </body>
</html>