<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oscuro bot</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
            <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-brand" href="#">
  <img src="<% if(profil.avatar === null){%>https://cdn.glitch.com/d4749c9d-7c2a-4abf-8cfc-bb263c4010af%2Fdiscord.png?v=1584292406264<%} else { %>https://cdn.discordapp.com/avatars/<%= profil.id %>/<%= profil.avatar %>.png<% } %>" width="30" height="30" class="d-inline-block align-top" alt="">
      <%= profil.username %>
      </div>
      <form class="form-inline">
        <button class="btn btn btn-outline-light mr-sm-1" type="button" onclick="location.href='../home'">Home</button>
        <button class="btn btn btn-outline-light mr-sm-1" type="button" onclick="location.href='../leaderboard'">Leaderboard</button>
        <button class="btn btn btn-outline-light mr-sm-5" type="button" onclick="location.href='../guilds'">Serveurs</button>
        <button class="btn btn btn-outline-danger my-2 my-sm-0" type="button" onclick="location.href='../logout'">Se déconnecter</button>
      </form>
    </nav>
    <h1>Dashboard du serveur <b><%= server %></b></h1>
  </body>
</html>